# Core Discord library and voice dependency
discord.py
PyNaCl
davey

# Audio/Video downloading
yt-dlp

# Music platform APIs and scrapers
spotipy
spotifyscraper[all]==3.7.0
PyYAML
requests
syncedlyrics
lyricsgenius
python-dotenv  # <-- NEW

# Utilities
cachetools
psutil
rich
aiosqlite
